<ion-content class="animated fadeIn">
    <div class="">
        <div class="panel panel-default">
            <div class="panel-heading text-center" style="padding: 8px 15px;"><span style="font-size:20px"><p>Sistema de Logueo</p></span></div>
            <div class="formcontainer">
                <div class="panel panel-default">
                    <div class="formcontainer">
                        <form name="form">

                            <div class="row">
                                <div class="form-group ">
                                    <div style="clear:both;margin-bottom:2px"></div>
                                    <label class="col-xs-12 control-lable" for="nombre">Usuario</label>
                                    <div class="col-xs-12 col-sm-10 col-md-10">
                                        <input type="text" id="username" class="form-control input-sm" name="username" [(ngModel)]="usuario.username" laceholder="username" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group ">
                                    <div style="clear:both;margin-bottom:2px"></div>
                                    <label class="col-xs-12 control-lable" for="nombre">Password</label>
                                    <div class="col-xs-12 col-sm-10 col-md-10">
                                        <input type="password" id="password" class="form-control input-sm" name="password" [(ngModel)]="usuario.password" placeholder="password" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12" style="">
                                    <div class="form-actions floatRight">
                                        <button class="btn btn-primary btn-sm" (click)="login()">Login</button>
                                    </div>
                                </div>
                            </div>
                            <div style="clear:both"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>